{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<style>

  .btn-custom-hover:hover {
      color: #c7c7c7 !important;
  }
</style>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="container text-center">
        <h2 class="mb-4 mt-4">Bienvenue sur StudentManager</h2>

        <a href="{% url 'student_management' %}" class="btn btn-secondary btn-lg mb-3 d-block w-50 mx-auto btn-custom-hover">Gestion des étudiants</a>
        <a href="{% url 'classroom_management' %}" class="btn btn-secondary btn-lg mb-3 d-block w-50 mx-auto btn-custom-hover">Gestion des classes</a>
        <a href="{% url 'quit_application' %}" class="btn btn-secondary btn-lg mb-3 d-block w-50 mx-auto btn-custom-hover">Quitter l'application</a>
    </main>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

{% endblock content %}
